main {
  padding: 30px;
  font-family: "Roboto Mono", sans-serif;
  width: 70%;
  margin: 0 auto;
  background: rgb(179, 162, 162);
  border-radius: 10px;
}

h1 {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

li {
  list-style: none;
}
