* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

/*Colors

darker: #103783,
lighter: #9bafd9, */

h1,
h2 {
  font-family: "Roboto Mono", monospace;
}

header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 30px;
  background-image: url("/project2/stars.jpg");
  border-radius: 10px 10px 0 0;
}

main {
  font-family: "Lato", sans-serif;
  border: 2px solid #103783;
  padding: 30px;
  background-color: #ced8ee;
  width: 80%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  color: rgb(63, 60, 60);
}

.search-section {
  display: flex;
}

.input-section {
  padding-top: 50px;
}

.favorites-btn {
  display: block;

  background-color: #457b9d;
  width: 50%;
  margin: 0 auto 15px;
  padding: 1.5%;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.favorites-btn:hover {
  background-color: #1d3557;
  color: #fff;
  cursor: pointer;
}

/* .favorites-btn a:hover {
  color: #fff;
} */
div {
  width: 50%;
}

.favorite-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}

.img-description {
  padding-top: 20px;
  font-size: 0.75rem;
}

.display-img {
  width: 80%;
}

.stored-faves {
  border-top: 1px solid #103783;
}

.hide {
  display: none;
}
